* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --color-primary: #d94014; /* Laranja */
  --color-secondary: #32100e; /* Preto */
  --color-tertiary: #34495e; /* Cinza Escuro */
  --color-background: #f1f1f1 /* Fundo do site */
  --color-text: #333; /* Texto principal */
}

/* Estilos gerais */
body {
  background-color: var(--color-background);
  margin: 0;
  line-height: 1.6;
  color: var(--color-text);
}

/* Estilo para o título principal (h1) */
h1 {
  color: var(--color-secondary);
  font-size: 3em;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Estilo para subtítulos (h2) */
h2 {
  color: var(--color-secondary);
  font-size: 2em;
  margin-top: 40px;
  margin-bottom: 15px;
  border-bottom: 3px solid var(--color-secondary);
  padding-bottom: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Estilo para os parágrafos (p) */
p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: var(--color-text);
  text-align: justify;
}

/* Listas (ul, ol) */
ul,
ol {
  margin: 20px 0;
  padding-left: 25px;
}

/* Estilo para itens da lista (li) */
li {
  font-size: 1.2em;
  margin-bottom: 12px;
  color: var(--color-text);
}

/* Estilo para links */
a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-secondary);
  text-decoration: underline;
}

/* Negrito (strong) */
strong {
  color: var(--color-primary);
  font-weight: bold;
}

/* Estilo para botões */
button {
  padding: 10px 20px;
  font-size: 1.1em;
  color: #fff;
  background-color: var(--color-primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: var(--color-secondary);
  transform: scale(1.05);
}

/* Estilo para formulário */
form {
  margin-top: 40px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/* Estilo para inputs e textarea */
input,
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid var(--color-tertiary);
  border-radius: 5px;
  font-size: 1.1em;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--color-primary);
}

/* Responsividade */
@media (max-width: 768px) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.8em;
  }

  p,
  li {
    font-size: 1.1em;
  }

  form {
    padding: 20px;
  }
}
